
  .custom-spacing {
    margin-right: 100px; /* Adjust the value as needed */
  }

  
   .carousel-item img {
    height: 35vmax;
    object-fit: fill;
  }

  .carousel-caption p {
    font-size: 1.5rem;
    font-style: italic;
  }

  .table {
    margin-top: 50px;
  }